VITE_API_BASE_URL=https://script.google.com/macros/s/XXXXX/exec
VITE_EVENT_NAME=JMS Family Get Together
VITE_EVENT_MONTH=MAY-2026
VITE_EVENT_VENUE=Bharat Mandapam Hall, New Delhi
VITE_INVITER_NAME=Shri Ravi Malik
VITE_ADMIN_PIN_HINT=Organisers only

